@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.bg-img {
    height: 500px;
    width: 100%;
    background-image: url(https://unsplash.it/1800/900?image=1051);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img-about{
    height: 200px;
    width: 100%;
    background-image: url(https://unsplash.it/1800/900?image=1051);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-h1 {
    color: #fff;
    display: flex;
}

.footer-dark{
    padding: 50px 0;
    background-color: #282d32;
    color: #f0f9ff;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #f0f9ff;
    text-decoration: none;
  }

  .box {
        width: 500px;
        height: 30px;
        background-color: #d14e34;
        color: #f0f9ff;
        display: flex;
        border-radius: 1%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        font-weight: 500;
    }

    p {
        font-family: poppins, sans-serif;
        font-weight: 600;
    }

    .my-card {
        width: 500px;
        height: auto;
    }

    .my-card-title {
        border: #9f9f35 solid 1px;
        background-color: #9f9f35;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #f0f9ff;
        padding: 2px;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
      }

      .bg-orange {
            background-color: #d14e34;
      }

      .bg-grey {
            background-color: #f0f0f0;
      }


    .my-card-about {
        width: 1000px;
        height: auto;
    }
